/* Globale reset */
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
      font-family: Arial, sans-serif;
  }
  
  header, footer {
      background-color: #00265f;
      color: #ffffff;
      padding: 10px;
  }
  
  nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
  
  nav ul li {
      display: inline;
      margin-right: 20px;
  }
  
  nav ul li a {
      color: #ffffff;
      text-decoration: none;
  }
  
  main {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      padding: 20px;
  }
  
  section {
      background-color: #cfcfcf;
      padding: 20px;
  }
  
  footer {
      text-align: center;
  }